// This file uses a mixin for margin-left and margin-right

@mixin set-margins($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

body {
  @include set-margins(10px, 10px);
}

div {
  @include set-margins(15px, 15px);
}
